= simple_form_for ([@activity, @activity.comments.build]), data: { remote: true } do |f|
  .form-inputs
    = f.input :body , :label => false,:wrapper => false, input_html:{:class => 'form-control'}
    /= f.association :activity 
    /= f.association :user   
  .form-actions
    = f.button :submit , :value => t('.new_comment')