@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
	font-family: 'One Day';
	src: url('fonts/One_Day.ttf');
	src: url('fonts/One_Day.woff') format('woff'), url('fonts/One_Day.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Light';
	src: url('fonts/Poppins-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Medium';
	src: url('fonts/Poppins-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Bold';
	src: url('fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
$purple : #2f1b41;
$laranja : #f05941;
/*Nav Bar Changes */
.navbar-default{
	background-color: $purple;
	min-height: 100px;
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	margin-bottom: 0px;
	position: relative;
	z-index: 1;
	.navbar-nav > li > a{
		color:#fff;
		padding-top: 40px;
		padding-bottom: 40px;
		font-family: 'Poppins', serif;
		font-size: 18px;
	}
	.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
		color:$laranja;
	}
	 .navbar-nav > .open > a, .navbar-nav > .open > a:hover,  .navbar-nav > .open > a:focus{
		color: #f05941;
		background-color: transparent;
		border: 1px solid #f05941;
		box-sizing: border-box;
		padding-top: 39px;
		padding-bottom: 39px;
	}
	.navbar-brand img{
		width: 150px;
	}
	ul.dropdown-menu{
		background-color: $purple;
		text-align: right;
		border:0px;
		li a{
			color: #fff;
			font-family: 'Poppins', serif;
			font-size: 16px;
		}
		li a:hover, li a:focus{
			color: $laranja;
			background-color: transparent;
			border-bottom: 1px solid;
		}
	}
	.sair{
		a{
			position: relative;			
			padding-right: 30px;
		}
		a:after{
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f08b";
			color: #fff;	
			position: absolute;
			right: 8px;
			bottom: 8px;
		}		
	}
	.sign_in{
		li a{
			width: 46%;
			box-sizing: border-box;
			display: inline-block;
		}
	}
}
.page-wrapper{
	min-height: 75vh;
}
.banner-home{
	width: 100%;
	min-height: 85vh;
	position: relative;
	background: url("todolist.jpg") no-repeat center;
	background-size: cover;	
	overflow: auto;
	.banner-overlay{
		position: absolute;		
		content:'';
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: rgba(47,27,65,0.8);
	}
	.eintragen {
    display: block;
    width: 800px;
    height: 380px;
    position: absolute;
    top: 50%;
    margin-top: -190px;
    left: 50%;
    margin-left: -400px;
    color:#fff;
		z-index: 1;
		box-sizing:border-box;
    h1{
			font-family: 'Poppins Bold';	
			font-size: 5em;
			text-transform: uppercase;
    }
    h2{
    	font-family: 'Poppins';
    	font-size: 3.2em;
    }
    .signup {
	    background-color: $laranja;
	    padding: 10px 20px;
	    margin-top: 30px;
	    color: #fff;
	    float: right;
	    border-radius: 7px;
	    -moz-border-radius: 7px;
	    -webkit-border-radius: 7px;
		}
	}
}
header.page-title{
	text-align: center;
	margin: 50px 0px;
	color:#004444;	
	h1{
		margin: 0px;
		font-weight: bold;
	}
	a{
		cursor: pointer;
	}
}
.clients_wrapper{
	width: 100%;
	.client{
		width: 33.3333%;
		float: left;
		list-style: none;
		box-sizing:border-box;
		height: 280px;
		overflow: hidden;
		&>label{
			display: none;
		}
		figure{
			background-color: #4a3753;
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			text-align: center;
			height: 280px;
			img{
				width: 100%;
				max-width: 100%;
			}			
			figcaption{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 2em;
				color: #fff;
				text-transform: capitalize;
				font-size: 1.25em;
				-webkit-backface-visibility: hidden;
				background-color: rgba(10,10,10,0.5);
				backface-visibility: hidden;
				transition: background-color 0.5s;
				-moz-transition: background-color 0.5s;
				-webkit-transition: background-color 0.5s;
				h1{
					opacity: 1;
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 1em 1.5em;
					width: 100%;
					text-align: left;
					margin:0;
					word-spacing: -0.15em;
					font-weight: 300;
					transition: opacity .25s ease-in-out;
				   -moz-transition: opacity .25s ease-in-out;
				   -webkit-transition: opacity .25s ease-in-out;
				   a{
				   	color:#fff;
				   }
				}
				
			}
		}		
		&:hover{
			figure{
				figcaption{
					h1{
						opacity: 1;
						a{
							text-decoration: underline;
						}
					}	
				}
			}		
		}
	}
}

/* Activities */
.container {
	ul.activities_list{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		&:before{
			position: absolute;
			top:0;
			left:0;
			width: 0px;
			height: 100%;
			border-left:2px solid #eaceb4;
			content:'';
		}

		li.activity{
			.data{
				box-sizing:border-box;
				width: 100%;
				padding:15px;
				border-radius: 7px;
				h1 {
					font-size: 2.4em;
					a {
						color:$purple;
						margin-top: 0px;
						font-family: 'Poppins Medium';
						text-transform: capitalize;		
					}	
				}
				.description{
					color:#686868;
					h1{
						font-size: 2.2em;
						margin: 10px 0px;
					}
					h2{
						font-size: 2.0em;
						margin: 10px 0px;
					}
					h3{
						font-size: 1.8em;
						margin: 10px 0px;
					}
					h4{
						font-size: 1.6em;
						margin: 5px 0px;
					}
					h5{
						font-size: 1.4em;
						margin: 5px 0px;
					}
				}
				.info{
					margin:30px 0px 0px;
					div{
						width: 49%;
						display: inline-block;
						box-sizing:border-box;
						color:#999999;
					}
					.date{
						font-size: 12px;
						font-family: 'Poppins Light';
					}
					.client{
						font-size: 13px;
						text-align: right;
					}
					.col-md-6:last-child{
						text-align: right;
					}
				}
				
			}
			.true{
				background-color: #ecf0f1;
			}
			.false{
				background-color: rgba(247,142,142,0.2);
			}
			margin:50px 30px;
			position: relative;			
			span{
				position: absolute;
				top:0;
				left:-30px;
				width: 0px;
				height: 100%;
				border-left: 2px solid #a4e5d9;
				content:'';
				&:before{
					content:'';
					position: absolute;
					width: 20px;
					height: 20px;
					border: 3px solid #a4e5d9;
					border-radius: 50%;
					/*background-color: #66c6ba;*/	
					top:0px;
					left: -11px;
				}
			}
			span.priority_very_low:before{
				background-color: #bff4ed;
			}
			span.priority_low:before{
				background-color: #90f6d7;
			}
			span.priority_medium:before{
				background-color: #fb9935;
			}
			span.priority_high:before{
				background-color: #ff5200;
			}
			span.priority_very_high:before{
				background-color: #c31207;
			}
		}
	}
}

.new_activity, .edit_activity{
	padding-bottom: 50px;
	.half_left, .half_right{
		width: 50%;
		float: left;
		box-sizing:border-box;
	}
	.half_left{
		padding-right: 15px;
		input{
			text-align: center;
		}
	}
	.half_right{
		padding-left: 15px;		
	}
	.duration{
		label{
			width: 100%;
		}
		input{
			display: inline-block;
			width: 46%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		}
	}	
}
.form-actions{
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 30px;
	.btn{
		padding: 0.2em 1.3em;
		font-size: 1.8em;
		color:#fff;
		background-color: $laranja;
	}
}
textarea.form-control{
	min-height: 300px;
}
.light-warning{
	color:#f56262;
	text-align: center;
	padding-top: 20px;
	font-family: 'Poppins Medium';
}

/*Main footer*/
.main-footer{
	position: relative;
	border-top: 4px solid $laranja;
	background-color: #707171;
	text-align: center;
	color:#fff;
	padding-top: 40px;
	img{
		width: 120px;
	}
	.copyright{
		width: 100%;
		margin: 15px 0px;
		text-align: right;
		a{
			color:$laranja;
		}
	}
}


/*Mobile*/
@media (max-width: 1366px ){
	
}
@media (max-width:992px ){
	
}
@media (max-width:768px ){
	
}
@media (max-width:667px ){
	body{
		font-size: 12px;
	}
	.navbar-default {
		.navbar-header{
			margin-bottom: 40px;
			.navbar-brand {
				img{
					width: 35%;
				}
			}	
		}
		.navbar-nav > li {
				&:after{
					position: absolute;
					content: '';
					background-color: #ccc;
					width: 100%;
					left: 0;
					bottom: 0;
					height: 1px;
				}
				&:hover:after{
					width:100%;
				}
				&> a{
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
		.navbar-nav > .open > a,  .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus{
			padding-top: 20px;
			padding-bottom: 20px;
			border-top:0px;
			border-right: 0px;
		}
		.navbar-nav .open .dropdown-menu > li > a{
			color:#fff;
		}
		ul.dropdown-menu{
			li{
				padding-top: 7px;
				padding-bottom: 7px;
				border-bottom: 1px solid #555;
				a{
					color:#fff;
				}
			}
		}
	}
	.banner-home {
		.eintragen{
			width: 100%;
			left: 0;
			margin-left: 0;
			box-sizing:border-box;
			padding-left: 15px;
			padding-right: 15px;
			position: relative;
			margin:50px 0px;
		}
	}
	.clients_wrapper{
		width: 100%;
		.client{
			width: 100%;
			height: 240px;
			border-bottom: 1px solid white;
			figure{
				height: 240px;
				img{
					width: 120%;
					max-width: 120%;
					margin-left: -10%;
				}
			}
			h1{
				font-size: 30px;				
			}
			
		}
		.client:last-child{
			border:none;
		}
	}
}
.pagination-wrapper{
	text-align: center;
	.pagination{
		min-width: 20%;
		position: relative;
		margin: 20px auto;
		box-sizing:border-box;
		padding-top: 10px;
		text-align: center;
		.previous_page{
			float: left;
			width: 25px;
			height: 50px;
			margin-right: 15px;		
			position: relative;
		}
		.previous_page:before{
			font: normal normal normal 50px/1 FontAwesome;
			content: "\f104";
			color: lightblue;	
			position: absolute;
			top: -10px;
			left: 0px;

		}
		.next_page{
			float: right;
			width: 25px;
			height: 50px;
			overflow: hidden;
			margin-left: 15px;
		}
		.next_page:after{
			font: normal normal normal 50px/1 FontAwesome;
			content: "\f105";
			color: lightblue;	
			position: absolute;
			top: -0px;
			right: 0px;
		}
		em.current{
			font-size: 1.8em;
			font-family: 'One Day';
			color: $laranja ; 
			padding:0px 10px;
		}
		a{
			font-size: 1.8em;
			font-family: 'One Day';
			padding:0px 15px;
		}
		span.disabled:after, span.disabled:before{
			color:lightgray !important;
		}
	}
}