=title 'Veja suas atividades recentes'
=og_description t('.og_description')
/=og_image 'http://www.pizzariadatravessa.com.br/assets/facebook-capa.png'
=og_url 'activities'
%header.page-title
	%h1=t('.activities_list')
.container
	%ul.activities_list
		- @activities.each do |activity|
			%li.activity
				%span{:class => find_priority(activity.priority)}
				.data{:class => "#{activity.complete}" }
					%h1=link_to activity.title, edit_activity_path(activity) if activity.title.present?
					%p=activity.description if activity.description.present?
					.info
						.date
							=l(activity.day, format: :short) if activity.day.present?
						.client
							=activity.client.nome if activity.client_id.present?