%header.page-title
	%h1=t('.activities_list')
.container
	%ul.activities_list
		- @activities.each do |activity|
			%li.activity
				%span{:class => find_priority(activity.priority)}
				.data{:class => "#{activity.complete}" }
					%h1=link_to activity.title, edit_activity_path(activity)
					%p=activity.description
					.date
						=l(activity.day, format: :short)